<header class="header" id="header">
    <nav class="navbar container">
      <a href="../index.html" class="nav__logo">
        <img src="../images/logo.ico" alt="image" />
        <span>José Gonçalves</span>
      </a>

      <div class="nav__menu" id="nav-menu">
        <ul class="nav__list">
          <li><a href="../index.html" class="nav__link">Home</a></li>
          <li><a href="/pages/about.html" class="nav__link">Sobre</a></li>
          <li><a href="/pages/polity.html" class="nav__link">Politica</a></li>
          <li><a href="/pages/sport.html" class="nav__link">Esporte</a></li>
          <li><a href="/pages/education.html" class="nav__link">Educação</a></li>
          <li><a href="/pages/outhers.html" class="nav__link">Outros</a></li>
        </ul>

        <div class="nav__close" id="nav-close">
          <i class="bx bx-x"></i>
        </div>
      </div>

      <div class="nav__buttons">
        <div class="nav__toggle" id="nav-toggle">
          <i class="bx bx-grid-alt"></i>
        </div>
      </div>
    </nav>
  </header>
  